POSTGRES_USER=livemap
POSTGRES_PASSWORD=change-me
POSTGRES_DB=livemap
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=54322
POSTGRES_BIND_HOST=127.0.0.1
DATABASE_ECHO=false
APP_HOST=127.0.0.1
APP_PORT=8000
PUBLIC_ORIGIN=http://localhost:5173
CAMERA_CHECK_INTERVAL_SECONDS=300
CAMERA_CHECK_CONCURRENCY=4
SITE_ADDRESS=:80
HTTP_PORT=18080
HTTPS_PORT=18443
VITE_MAPTILER_KEY=
VITE_MAP_STYLE_URL=
